h1, h2{
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0;
}

h1{
  font-size: 80px;
}

h2{
  font-size: 40px;
}

@media (max-width: 640px)  {
  h2 {
    margin-top: 10vh;
    display: none;
  }
}
