svg, img, a{
  height: 50px;
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

a:hover{
  opacity: 0.5;
}

a::after{
  opacity: 1;
}

div{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 77vw;
}

@media (max-width: 640px)  {
  svg, img, a{
    margin-top: 7.5vh;
  }
}