button{
  outline-color: #6AF700;
  background-color: Transparent;
  color: #6AF700;
  border-color: #6AF700;
  width: auto;
  height: 10vh;
  margin-top: 5vh;
  border-radius: 25px;
  font-size: 3vw;
  font-weight: bold;
  font-style: oblique;
}

div{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

button:hover{
  background-color: #6AF700;
  color: #00574B;
}


@media (min-width: 640px)  {
  .buttonContainer {
    display: inline-block;
    margin: 0 auto;
  }

  button{
    text-align: center;
    width: 15vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
