p{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  font-size: 3vh;
}


@media (max-width: 640px)  {
  p{
    margin-bottom: 10vh;
    font-size: 3vh;
  }
}