/* Add application styles & imports to this file! */
:root {
  --main-bg-color: #00574B;
  --main-acent-color: #6AF700;
}

h1, h2, p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-acent-color);
}

#Landing{
  background-image: url(https://raw.githubusercontent.com/ReeceSpr/Portfolio/master/src/app/assests/img/bg.jpg);
}

#Project{
  
}

.section{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin :0px;
  display: inline-block;
}

body{
  margin: 0px;
}
