/* Add application styles & imports to this file! */
:root {
  --main-bg-color: #00574B;
  --main-acent-color: #6AF700;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  padding:0;
}


h1, h2, p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-acent-color);
}

#Landing{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  background-image: url(https://raw.githubusercontent.com/ReeceSpr/Portfolio/master/src/app/assests/img/LandingBackground.jpg);
}

#Projects{
  position:absolute;
  height:110%;
  top:100%;
  bottom:200%;
  background-image: url(https://raw.githubusercontent.com/ReeceSpr/Portfolio/master/src/app/assests/img/ProjectsBackgroundMobile.jpg);
}

/*Desktop*/
@media (min-width: 640px)  {
  #Projects{
  height:100%;
  background-image: url(https://raw.githubusercontent.com/ReeceSpr/Portfolio/master/src/app/assests/img/ProjectsBackground.jpg);
  }
}


.section{
  background-repeat: no-repeat;
  background-size: cover;
  margin :0px;
  position:absolute;
  left:0;
  right:0;
  height:100%;
  width:100%;
}
