/* Add application styles & imports to this file! */
:root {
  --main-bg-color: #00574B;
  --main-acent-color: #6AF700;
}

h1, h2, p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-acent-color);
}

body{
  background-image: url(https://raw.githubusercontent.com/ReeceSpr/Portfolio/master/src/app/assests/img/bg.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

svg, img{
  height: 50px;
  width: 50px;
}

a:hover{
  opacity: 0.5;
}